.viewer__card--file
  .viewer__card_icon
    color: #7A96CC
  

.viewer__card--folder
  .viewer__card_icon
    color: #E5B045


.viewer__card--developers,
.viewer__card--customer,
.viewer__card--archive,
.viewer__card--trash
  padding-bottom: 56.25%
  // 
  .viewer__card_icon
    font-size: 5rem


.viewer__card--developers
  background: transparentize(#8256BF, 0.8)
  //
  .viewer__card_icon
    color: #8256BF
  // 
  .viewer__card_button,
  .viewer__card_title
    color: #2D2933
  // 
  .viewer__card_footer
    color: #5A5266


.viewer__card--customer
  background: transparentize(#0D6380, 0.8)
  //
  .viewer__card_icon
    color: #0D6380
  // 
  .viewer__card_button,
  .viewer__card_title
    color: #293133
  // 
  .viewer__card_footer
    color: #526166


.viewer__card--archive
  background: transparentize(#E57E17, 0.8)
  //
  .viewer__card_icon
    color: #E57E17
  // 
  .viewer__card_button,
  .viewer__card_title
    color: #332E29
  // 
  .viewer__card_footer
    color: #665C52


.viewer__card--trash
  background: transparentize(#E53D2E, 0.8)
  //
  .viewer__card_icon
    color: #E53D2E
  // 
  .viewer__card_button,
  .viewer__card_title
    color: #332929
  // 
  .viewer__card_footer
    color: #665252