.viewer__title
  font-weight: $weight-semibold
  color: $color-text-gray
  font-size: $heading-large-size
  height: 30px
  line-height: 1
  // flex
  display: flex
  align-items: center
  gap: 10px
  // temp
  grid-column: 1 / 5  
  // 
  &::before
    @include ol-icons
    font-size: inherit

.viewer__title--tag 
  &::before
    content: "tag"

.viewer__title--folder
  &::before
    content: "folder"
    color: $color-folder

.viewer__title--files
  &::before
    content: "files"
    color: $color-file