.sticker
  min-width: 14px
  width: 14px
  height: 14px
  border-radius: 100%
  // flex
  display: flex
  align-items: center
  justify-content: center
  // icon
  @include ol-icons
  color: $text-white
  font-size: $text-tiny


.sticker--counted
  padding: 0 4px
  border-radius: 14px
  width: fit-content
  min-width: fit-content
  box-sizing: content-box
  background: $ui-red
  // font
  font-style: normal
  font-size: $text-small
  font-family: 'Roboto Mono', monospace  

  
.sticker--updated
  background: $ui-yellow


.sticker--created
  background: $ui-green


.sticker--opened
  background: $ui-white
  color: $text-black
  