.sticker
  min-width: 1.4rem
  height: 1.4rem
  border-radius: 1.4rem
  // flex
  display: flex
  align-items: center
  justify-content: center
  // font
  @include ol-icons
  font-size: .8rem
  color: $color-white

.sticker--counted
  background: #E5342E
  box-sizing: content-box
  // font
  font-family: 'Roboto Mono', monospace
  font-size: .9rem
  padding: 0 4.3px
  min-width: fit-content
  font-weight: $medium

.sticker--opened
  background: $color-white
  // font
  color: $color-dark-8

.sticker--updated
  background: #E5B745
  
.sticker--created
  background: #29CC7A