.navbar__profile
  height: 60px
  max-width: 100%
  width: max-content
  margin-bottom: 20px
  overflow: hidden
  // grid
  display: grid
  grid-template-columns: max-content 1fr
  grid-template-rows: repeat(2, max-content)
  grid-column-gap: 10px
  grid-row-gap: 5px 

  
.navbar__profile_image
  height: 60px
  width: 60px
  margin: 0
  border-radius: 100%
  background-color: $ui-gray
  @include background-image
  position: relative
  cursor: pointer
  // grid
  grid-row: 1 / 3

// profile hover icon
.navbar__profile_image::before
  // icon
  @include ol-icons
  content: "settings"
  color: $text-white
  // flex
  display: flex
  align-items: center
  justify-content: center
  // background
  height: 100%
  width: 100%
  top: 0
  left: 0
  position: absolute
  background: radial-gradient(circle, transparentize($ui-dark, .6) 0%, $ui-black 100%)
  // before animation
  opacity: 0
  transform: rotate(-45deg)
  // animation transition
  transition: opacity .3s, font-size .2s, transform .2s


.navbar__profile_name
  color: $text-white
  font-size: $heading-small
  @include text-overflow
  // grid
  align-self: end


.navbar__profile_role
  color: $text-gray
  font-size: $text-medium
  @include text-overflow
  