.navbar__links
  // grid
  display: grid
  grid-auto-rows: max-content
  grid-row-gap: 20px
  // pinned state
  &--pinned
    min-height: 150px
    overflow: overlay
    @include scroll-secondary($ui-dark, $ui-darkgray)
    // pin icon
    .navbar__link::after
      @include ol-icons
      content: "pin"
      font-size: $text-large


.navbar__separator
  height: 2px
  width: 100%
  margin: 20px 0
  background: $ui-dark