@use "sass:map"

@mixin scroll-primary($background, $hover)
  // 
  &::-webkit-scrollbar
    width: 14px
  // 
  &::-webkit-scrollbar-track
    width: 100%
    border-radius: 100px
  // 
  &::-webkit-scrollbar-thumb
    background: $background
    border-radius: 100px
    background-clip: padding-box
    border: solid transparent 4px
  // 
  &::-webkit-scrollbar-thumb:hover
    background: $hover
    background-clip: padding-box


@mixin scroll-secondary($background, $hover)
  // 
  &::-webkit-scrollbar
    width: 8px
  // 
  &::-webkit-scrollbar-track
    width: 100%
    border-radius: 100px
  // 
  &::-webkit-scrollbar-thumb
    background: $background
    border-radius: 100px
    background-clip: padding-box
    border: solid transparent 2px
  // 
  &::-webkit-scrollbar-thumb:hover
    background: $hover
    background-clip: padding-box


body 
  font-family: 'Poppins', sans-serif
  font-weight: $weight-medium
  line-height: 1.2
  overflow-y: overlay
  background: $ui-white
  @include scroll-primary($ui-whitesmoke, darken($ui-whitesmoke, 4))


// ==========
// containers
// ==========

.container 
  // Using arrays to pass container max-width and padding
  // $array-example: (desktop: 0px, laptop: 0px, tablet: 0px, fablet: 0px, mobile: 0px)
  // max-width values array
  $container-width: (desktop: 1600px,) 
  // padding values array
  $container-padding: (desktop: 30px, laptop: 20px, tablet: 15px, fablet: 15px, mobile: 10px) 
  // including container mixin with arrays above
  @include container($container-width, $container-padding)
