// ============
// font weights
// ============

$weight-semibold: 600
$weight-medium: 500
$weight-regular: 400

// ==========
// font sizes
// ==========

// heading
$heading-huge: 36px
$heading-large: 28px
$heading-medium: 24px
$heading-small: 18px 
// text
$text-huge: 16px
$text-large: 14px
$text-medium: 12px
$text-small: 10px
$text-tiny: 8px

// ===============
// border radiuses
// ===============

$radius-huge: 40px
$radius-large: 30px
$radius-medium: 20px
$radius-small: 10px
$radius-tiny: 5px

// ===============
// branding colors 
// ===============

$brand-yellow: hsb(50, 80, 100)
$brand-pink: hsb(330, 75, 100)
$brand-violet: hsb(250, 70, 100)

// ================
// Interface colors 
// ================

// light
$ui-white: hsb(250, 1, 100)
$ui-whitesmoke: hsb(250, 2, 96)
// dark
$ui-gray: hsb(250, 10, 12)
$ui-darkgray: hsb(250, 10, 10)
$ui-dark: hsb(250, 10, 8)
$ui-black: hsb(250, 10, 6)
// others
$ui-red: hsb(2, 80, 90)
$ui-orange: hsb(20, 70, 90)
$ui-yellow: hsb(40, 70, 90)
$ui-green: hsb(150, 80, 80)

// ===========
// Text colors 
// ===========

// light
$text-white: hsb(250, 1, 100)
$text-lightgray: hsb(250, 4, 80) 
// dark
$text-gray: hsb(250, 6, 60)
$text-darkgray: hsb(250, 8, 40)
$text-dark: hsb(250, 10, 20)
$text-black: hsb(250, 10, 6)

// ==============
// Element colors 
// ==============

$elem-note: hsb(220, 40, 80)
$elem-folder: $ui-yellow
$elem-private: hsb(265, 55, 75)
$elem-public: hsb(195, 90, 50)
$elem-archive: $ui-orange
$elem-trash: $ui-red