// ============
// font weights
// ============

$weight-semibold: 600
$weight-medium: 500
$weight-regular: 400

// ==========
// font sizes
// ==========

// heading
$heading-huge-size: 36px
$heading-large-size: 28px
$heading-medium-size: 24px
$heading-small-size: 18px 
// text
$text-huge-size: 16px
$text-large-size: 14px
$text-medium-size: 12px
$text-small-size: 10px
$text-tiny-size: 8px

// ===============
// border radiuses
// ===============

$radius-huge-size: 40px
$radius-large-size: 30px
$radius-medium-size: 20px
$radius-small-size: 10px
$radius-tiny-size: 6px

// ================
// Interface colors 
// ================

// light
$color-ui-white: #FCFCFF  
$color-ui-whitesmoke: #F1F0F5 
// dark
$color-ui-lightgray: #1C1C1F
$color-ui-gray: #171719
$color-ui-dark: #121214
$color-ui-black: #0E0E0F
// others
$color-ui-red: #E5342E
$color-ui-orange: #E57A45
$color-ui-yellow: #E5B045
$color-ui-green: #29CC7A

// ===========
// Text colors 
// ===========

$color-text-white: $color-ui-white
$color-text-lightgray: #949399
$color-text-gray: #616066
$color-text-dark: #302F33
$color-text-black: $color-ui-dark

// ==============
// Element colors 
// ==============

// folders
$color-folder: $color-ui-yellow
$color-folder-trash: $color-ui-red
$color-folder-archive: $color-ui-orange
$color-folder-private: #8256BF
$color-folder-public: #0D6380
$color-file: #7A96CC






























// ======
// colors DEPR
// ======
// logo colors
$color-logo-purple: #7755ff
// white colors
$color-white: #ffffff
$color-white-96: #F5F5F5
$color-white-94: #F0F0F0
$color-white-92: #EBEBEB
$color-white-90: #E5E5E5
// gray
$color-gray-80: #cccccc
$color-gray-60: #999999
$color-gray-50: #808080
$color-gray-40: #666666
$color-gray-30: #4D4D4D
$color-gray-20: #333333
// dark
$color-dark-14: #242424
$color-dark-12: #1F1F1F
$color-dark-10: #1A1A1A
$color-dark-8: #141414
$color-dark-6: #0F0F0F


  
