.explorer
  width: 250px
  height: 100vh
  background: $color-dark-8
  position: sticky
  top: 0
  padding: 40px 20px
  display: grid
  grid-template-columns: 100%
  grid-template-rows: max-content 1fr
  grid-row-gap: 30px
  

.navigation
  overflow: auto  
  @include scroll-secondary($color-dark-12, $color-dark-14)

.navigation,
.navigation__folder_outer,
.navigation__folder_inner,
.navigation__tag_outer,
.navigation__tag_inner
  display: flex
  flex-direction: column
  gap: 20px


.navigation__folder_inner
  //
  .navigation__item
    &::before
      font-family: "ol-icons"
      content: "dot"
      font-size: .8rem
      transition: color .2s
  
// ===============
// import elements
// ===============

@import explorer_header
@import explorer_navigation

// =========
// temporary
// =========

.navigation__tag_outer

  // tag item colors

  .navigation__item--tag
    background: transparentize(#fd3a69, 0.9)
    color: transparentize(#fd3a69, 0.3)
  // 
  .navigation__item_icon
    color: #fd3a69

  // tag item hover & opened states

  .navigation__item--tag.navigation__item--opened,
  .navigation__item--tag.navigation__item:hover
    color: #fd3a69

  // tag childs colors

  .navigation__item
    &::before
      color: transparentize(#fd3a69, 0.3)
  // 
  .navigation__item_icon
    &::before
      color: #fd3a69

  // tag childs hover & opened states

  .navigation__item.navigation__item--opened,
  .navigation__item.navigation__item:hover
    &::before
      color: #fd3a69


