.auth
  display: grid
  justify-items: center
  justify-content: center
  grid-auto-rows: max-content
  grid-auto-columns: minmax(200px, 600px)
  align-content: center
  height: 100vh
  grid-row-gap: 40px

.auth__logo
  height: 80px
  user-select: none
  -webkit-user-drag: none

.auth__form
  width: 100%
  display: grid
  grid-row-gap: 20px
  grid-auto-rows: max-content
  justify-items: center

.auth__input
  min-height: 60px
  width: 100%
  border-radius: 20px
  font-size: 1.6rem
  background: $color-dark-8
  padding: 20px
  display: flex
  align-items: center
  color: $color-gray-30
  font-weight: $medium

.auth__button
  min-height: 60px
  width: 100%
  border-radius: 20px
  background: $color-white
  color: $color-dark-6
  font-size: 2em
  display: flex
  align-items: center
  justify-content: center
  font-weight: $medium


.auth__link
  font-size: 1.6rem
  color: $color-gray-20